<div class="w-full flex flex-col justify-center items-center">
    <p class="text-2xl text-center mb-6 font-bold mt-6">Register</p>
    <div class="w-full max-w-xl">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="register_name">
                    Name
                </label>
                <input id="register_name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="Введите имя">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="register_email">
                    Email
                </label>
                <input id="register_email"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="email" placeholder="Введите email">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="register_password">
                    Password
                </label>
                <input id="register_password"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    type="password" placeholder="Введите пароль">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="register_password_confirmation">
                    Password confirmation
                </label>
                <input id="register_password_confirmation"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    type="password" placeholder="Введите пароль">
            </div>
            <p class="text-red-500 text-xs italic mb-4" id="register_errors"></p>
            <div class="flex items-center justify-between">
                <button id="register_button"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>